hl {
    background: rgb(61, 124, 175)
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: white;
}

.paragraph-2 {
    font-size: 32pt;
    border: 10px solid black;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    text-align: center;
}

.paragraph-3 {
    background: black;
    font-size: 24pt;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/*background: ;
font-size: ;
color: ;
border: ;
border-radius: ;
font-weight: ;
font-family: ;*/
